* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: poppins;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(#5ce1e6, #00f6ff);
}

.prevent-select {
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.header__container {
  display: flex;
  justify-content: flex-start;
  margin: 0 auto 1rem;
  max-width: 380px;
  height: 5rem;
  background: linear-gradient(#ff9cd7, #ff7ecc);
  border-radius: 0 0 2.5rem 2.5rem;
  border: 0.25rem solid #343434;
  border-top: none;
  filter: drop-shadow(0 2px 4px #000000);
}

.logo {
  margin: 0.25rem 0.5rem;
  background-color: #89cff0;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  filter: drop-shadow(0 2px 4px #000000);
}
.tittle {
  margin: 1rem 4.3rem 0;
  color: #343434;
  font-family: bangers;
  text-transform: uppercase;
  font-size: 2rem;
}

.order__container {
  margin: 0 auto 1rem;
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 78vh;
  max-width: 380px;
  background-color: white;
  justify-content: space-between;
  align-items: center;
  border-radius: 1rem;
  border: 0.25rem solid #343434;
  filter: drop-shadow(0 2px 4px #000000);
}
.order__header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
  margin: 1rem 0;
}

.subtittle {
  color: #343434;
  font-family: bangers;
  text-transform: uppercase;
  font-size: 1.5rem;
}
.subtittle2 {
  text-align: center;
  font-weight: 600;
  color: #343434;
  margin: 1rem 0;
}

.order__header > nav > a {
  text-decoration: none;
  font-family: bangers;
  cursor: pointer;
  color: #343434;
}

.form__container {
  height: 70%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form__form {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
}
.toggle-button {
  display: none;
}

.toggle-button + label {
  display: inline-block;
  padding: 0.25rem 1rem;
  margin: 0.25rem 0.5rem;
  border: 0.125rem solid #343434;
  border-radius: 4rem;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  font-weight: 600;
  width: 40%;
  text-align: center;
}

.toggle-button:checked + label {
  background: linear-gradient(90deg, #6adefe, #ff51e8);
  color: white;
  border-color: #000000;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.list__container {
  border: 1px dashed #696969;
  border-left: none;
  border-right: none;
  width: 90%;
}

.checkout__btn {
  font-family: bangers;
  text-transform: uppercase;
  font-size: 1.5rem;
  color: white;
  text-stroke: 1px #000000;
  -webkit-text-stroke: 1px #000000;
  border: 0.2rem solid black;
  width: 8rem;
  height: 3rem;
  background-color: #6adefe;
  filter: drop-shadow(7px 4px 7.2px #3d3d3d);
  margin-bottom: 1rem;
}
.checkout__btn:hover {
  filter: drop-shadow(3px 2px 7.2px #3d3d3d);
  cursor: pointer;
}

.footer {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: 4rem;
  width: 100vw;
  max-width: 380px;
  margin: auto;
  background-color: white;
  border-radius: 1.25rem 1.25rem 0 0;
  border: 0.25rem solid #343434;
  border-bottom: none;
}

address {
  font-family: bangers;
  font-size: 1.25rem;
  text-align: center;
  padding: 0.25rem;
}

.footer__link {
  text-decoration: none;
  color: #000000;
  font-size: 0.75rem;
  margin: auto;
}

/* animations */

.rotate-center {
  -webkit-animation: rotate-center 1s ease-in-out both;
  animation: rotate-center 1s ease-in-out both;
}

@-webkit-keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.swing-in-top-fwd {
  -webkit-animation: swing-in-top-fwd 0.5s
    cubic-bezier(0.175, 0.885, 0.32, 1.275) both;
  animation: swing-in-top-fwd 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275) both;
}

@-webkit-keyframes swing-in-top-fwd {
  0% {
    -webkit-transform: rotateX(-100deg);
    transform: rotateX(-100deg);
    -webkit-transform-origin: top;
    transform-origin: top;
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
    -webkit-transform-origin: top;
    transform-origin: top;
    opacity: 1;
  }
}
@keyframes swing-in-top-fwd {
  0% {
    -webkit-transform: rotateX(-100deg);
    transform: rotateX(-100deg);
    -webkit-transform-origin: top;
    transform-origin: top;
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
    -webkit-transform-origin: top;
    transform-origin: top;
    opacity: 1;
  }
}

.scale-in-ver-bottom {
  -webkit-animation: scale-in-ver-bottom 1s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: scale-in-ver-bottom 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes scale-in-ver-bottom {
  0% {
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: 0% 100%;
    transform-origin: 0% 100%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    -webkit-transform-origin: 0% 100%;
    transform-origin: 0% 100%;
    opacity: 1;
  }
}
@keyframes scale-in-ver-bottom {
  0% {
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: 0% 100%;
    transform-origin: 0% 100%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    -webkit-transform-origin: 0% 100%;
    transform-origin: 0% 100%;
    opacity: 1;
  }
}

.vibrate-1 {
  -webkit-animation: vibrate-1 1.2s linear infinite both;
  animation: vibrate-1 1.2s linear infinite both;
}

@-webkit-keyframes vibrate-1 {
  0% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
  20% {
    -webkit-transform: translate(-1px, 1px);
    transform: translate(-1px, 1px);
  }
  40% {
    -webkit-transform: translate(-1px, -1px);
    transform: translate(-1px, -1px);
  }
  60% {
    -webkit-transform: translate(1px, 1px);
    transform: translate(1px, 1px);
  }
  80% {
    -webkit-transform: translate(1px, -1px);
    transform: translate(1px, -1px);
  }
  100% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
}
@keyframes vibrate-1 {
  0% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
  20% {
    -webkit-transform: translate(-1px, 1px);
    transform: translate(-1px, 1px);
  }
  40% {
    -webkit-transform: translate(-1px, -1px);
    transform: translate(-1px, -1px);
  }
  60% {
    -webkit-transform: translate(1px, 1px);
    transform: translate(1px, 1px);
  }
  80% {
    -webkit-transform: translate(1px, -1px);
    transform: translate(1px, -1px);
  }
  100% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
}

.slide-bottom {
  -webkit-animation: slide-bottom 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.5s
    both;
  animation: slide-bottom 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.2s both;
}

@-webkit-keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
}
@keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(-1rem);
    transform: translateY(-1rem);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
